/* ======================globales============================ */

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


body{
    font-family: "Ubuntu", sans-serif;
    overflow-x: hidden;
    height: auto;
    padding-top: 100px;
}

/* ====================== footer con grid============================ */



.grid-container-footer{
    display: grid;
    height: 260px;
    grid-template-rows: 50px 50px 50px 50px 50px 50px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    background-color: #101820;
    color: whitesmoke;
    /* padding: 60px; */
    padding-top: 40px;
}

.caja1{

    grid-row: 1 / 3;
    grid-column:  1 / 3;
    text-align: center;
    align-self: top;
}

.caja2{

    grid-row: 1/ 3;
    grid-column: 3 / 5 ;
    text-align: left;
    align-self: top;
}

.caja3{

    grid-row: 1/ 3;
    grid-column: 5 / 7 ;
    text-align: center;
    align-self: top;
}

.caja4{
    grid-row: 3 / 5;
    grid-column: 1 / 7 ;
    text-align: center;
    align-self: center;
}





/* ====================== media Q ============================ */

@media( max-width: 768px) {
    #intro {
        width: 90% !important;
    }

    .caja1 img{

        width: 2fr;
        height: 40px;
    }

    .caja2 {
        width:2fr ;
        height: 100px;
    }
    .caja2 p{
        font-size: 16px;
    }

    .caja3 img{
        width: 2fr ;
        height: 50px;
    }
    .caja4 img{
        width: 6fr;
        height: 40px;
    }

}


@media( max-width: 576px){

    .caja1{
        width:2fr ;
        height: 50px;
    }

    .caja2 {
        width:2fr ;
        height: 50px;
    }
    .caja2 p{
        font-size: 10px;
    }

    .caja3{
        width:2fr ;
        height: 50px;
    }
    .caja4 img{
        width: 6fr;
        height: 25px;
    }
}






/* ======================menu============================ */


#menu a {
    font-size: 18px;
    font-weight: bold;
    color: rgb(34, 33, 33);
}

#menu{
    position: fixed;
}








/* ======================slider de imagenes============================ */


.carousel-inner{
max-height: 39rem;
}





/* ======================acerca de nosotros============================ */



.nuestro-compromiso{
display: flex;
flex-direction: column;
align-items: center;
padding:20px;
gap: 20px;
border-top: solid rgb(47, 46, 46) 2px;
}




/* ======================seccion4-himalaya============================ */


.sec4{

    display: flex;
        background-repeat: no-repeat;
        padding: 40px 40px;
        align-items: center;
        width: 100%;
        height: 600px;
        background-image: url("../assets/img/himalaya.jpg");
        background-size: cover;
        background-position: center;
}

.divHimalaya{
    display: flex;
    width: 400px;
    height: 300px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    align-self: flex-end;
    gap: 1.25rem;
    padding: 10px;
    color: white;
}