@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Ubuntu", sans-serif; }

#menu {
  position: fixed;
  background-color: #d6d8da; }
  #menu a {
    font-size: 18px;
    font-weight: bold;
    color: #292929; }

.carousel-inner {
  max-height: 39rem;
  padding-top: 80px;
  background-position: center; }

.carousel-inner img {
  -webkit-animation: kenburns-bottom 10s ease-out both;
  animation: kenburns-bottom 10s ease-out both; }

@-webkit-keyframes kenburns-bottom {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 84%;
    transform-origin: 50% 84%; }
  100% {
    -webkit-transform: scale(1.25) translateY(15px);
    transform: scale(1.25) translateY(15px);
    -webkit-transform-origin: bottom;
    transform-origin: bottom; } }

@keyframes kenburns-bottom {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 84%;
    transform-origin: 50% 84%; }
  100% {
    -webkit-transform: scale(1.25) translateY(15px);
    transform: scale(1.25) translateY(15px);
    -webkit-transform-origin: bottom;
    transform-origin: bottom; } }

#titulo {
  -webkit-animation: tracking-in-contract-bck 6s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-contract-bck 6s cubic-bezier(0.215, 0.61, 0.355, 1) both; }

@-webkit-keyframes tracking-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px);
    transform: translateZ(400px);
    opacity: 0; }
  40% {
    opacity: 0.6; }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1; } }

@keyframes tracking-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px);
    transform: translateZ(400px);
    opacity: 0; }
  40% {
    opacity: 0.6; }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1; } }

#destinos {
  -webkit-animation: text-focus-in 2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both; }

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0; }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1; } }

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0; }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1; } }

.sec4, .sec-nagano, .sec-egipto {
  display: flex;
  background-repeat: no-repeat;
  padding: 40px 40px;
  align-items: center;
  width: 100%;
  height: 600px;
  background-image: url("../assets/img/himalaya.jpg");
  background-size: cover;
  background-position: center; }
  .sec4 a, .sec-nagano a, .sec-egipto a {
    background-color: #6b0096;
    border: #6b0096; }
    .sec4 a:hover, .sec-nagano a:hover, .sec-egipto a:hover {
      background-color: #a738d3; }
  .sec4 .divHimalaya, .sec-nagano .divHimalaya, .sec-egipto .divHimalaya, .sec-nagano .divNagano, .sec-egipto .divegipto {
    display: flex;
    height: 300px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    align-self: flex-end;
    background-image: url();
    gap: 1.25rem;
    padding: 10px;
    color: #f4f3f3;
    font-size: 16px;
    background-image: url(../style.scss/); }

.sec-nagano {
  background-image: url("../assets/img/nagano.jpg"); }

.sec-egipto {
  background-image: url("../assets/img/giza.jpg"); }

.acerca {
  display: flex;
  width: 100%;
  height: 200px; }

#intro {
  background-image: url(""); }

.grid-container-footer2 {
  display: grid;
  height: 200px;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  background-color: #101820;
  color: whitesmoke;
  /* padding: 60px; */
  padding-top: 40px; }
  .grid-container-footer2 a {
    color: whitesmoke;
    font-size: 12px; }
  .grid-container-footer2 .caja1 {
    grid-row: 1 / 3;
    grid-column: 1 / 3;
    text-align: center;
    align-self: top; }
  .grid-container-footer2 .caja2 {
    grid-row: 1 / 2;
    grid-column: 4 / 10;
    text-align: center;
    align-self: top; }
  .grid-container-footer2 .caja2 p {
    font-weight: 200px; }
  .grid-container-footer2 .caja3 {
    grid-row: 1 / 3;
    grid-column: 11 / 13;
    text-align: left;
    align-self: left; }
  .grid-container-footer2 .caja4 {
    grid-row: 3 / 5;
    grid-column: 3 / 5;
    text-align: center;
    align-self: top; }
  .grid-container-footer2 .caja5 {
    grid-row: 3 / 5;
    grid-column: 5 / 7;
    text-align: center;
    align-self: top; }
  .grid-container-footer2 .caja6 {
    grid-row: 3 / 5;
    grid-column: 7/ 9;
    text-align: center;
    align-self: top; }
  .grid-container-footer2 .caja7 {
    grid-row: 3 / 5;
    grid-column: 9 / 11;
    text-align: center;
    align-self: top; }

#cards {
  opacity: 85%; }
  #cards a {
    background-color: #6b0096;
    border: #6b0096; }
    #cards a:hover {
      background-color: #a738d3; }

#cards:hover {
  box-shadow: 1px 1px 60px  #5d5c5c7a;
  opacity: 100%; }

#minicards {
  border-radius: 8px;
  background-color: #7a797911; }
  #minicards a {
    background-color: #6b0096;
    border: #6b0096; }
    #minicards a:hover {
      background-color: #a738d3; }

#minicards:hover {
  border-radius: 8px;
  background-color: #7a797933; }

#vertodos-btn {
  background-color: #6b0096;
  border: #6b0096; }
  #vertodos-btn:hover {
    background-color: #a738d3; }

#form-btn {
  background-color: #6b0096;
  border: #6b0096; }
  #form-btn:hover {
    background-color: #a738d3; }

/* ====================== media Q 768============================ */
@media (max-width: 768px) {
  #intro {
    width: 90% !important; }
  #forms {
    width: 90% !important; }
  .grid-container-footer2 .caja1 {
    width: 2fr;
    height: 40px; }
  .grid-container-footer2 .caja1 img {
    width: 2fr;
    height: 40px; }
  .grid-container-footer2 .caja2 {
    width: 2fr;
    height: 100px; }
  .grid-container-footer2 .caja2 p {
    font-size: 16px; }
  .grid-container-footer2 .caja3 img {
    width: 2fr;
    height: 50px; }
  .grid-container-footer2 .caja4 img {
    width: 6fr;
    height: 40px; } }

/* ====================== media Q 576============================ */
@media (max-width: 576px) {
  .grid-container-footer2 .caja1 {
    width: 2fr;
    height: 40px;
    grid-row: 3 / 5;
    grid-column: 1 / 3;
    text-align: center;
    align-self: top; }
    .grid-container-footer2 .caja1 .img {
      width: 1fr; }
  .grid-container-footer2 .caja2 {
    width: 2fr;
    height: 50px;
    grid-row: 1 / 3;
    grid-column: 3 / 11;
    text-align: center;
    align-self: top; }
  .grid-container-footer2 .caja2 p {
    font-size: 14px; }
  .grid-container-footer2 .caja3 {
    width: 1fr;
    height: 50px;
    grid-column: 10 / 12;
    grid-row: 3 / 5; }
  .grid-container-footer2 .caja4 {
    grid-row: 2 / 3;
    grid-column: 5 / 9;
    text-align: top;
    align-self: top; }
  .grid-container-footer2 .caja5 {
    grid-row: 3 / 4;
    grid-column: 5 / 9;
    text-align: top;
    align-self: top; }
  .grid-container-footer2 .caja6 {
    grid-row: 4 / 5;
    grid-column: 5/ 9;
    text-align: center;
    align-self: top; }
  .grid-container-footer2 .caja7 {
    grid-row: 5 / 6;
    grid-column: 5 / 9;
    text-align: center;
    align-self: top; } }

/* ====================== media Q 380============================ */
@media (max-width: 380px) {
  .grid-container-footer2 .caja1 {
    width: 1fr;
    height: 30px; }
  .grid-container-footer2 .caja2 {
    width: 2fr;
    height: 30px; }
  .grid-container-footer2 .caja2 p {
    font-size: 12px; }
  .grid-container-footer2 .caja3 {
    width: 1fr;
    height: 30px; }
  .grid-container-footer2 .caja4 img {
    width: 4fr;
    height: 25px;
    width: 200px; } }
