

#menu {
    position: fixed; 
    background-color: #d6d8da;
    a {
        font-size: 18px;
        font-weight: bold;
        color: #292929; }
    }

     #menu ul li:hover{
    //   text-decoration: underline ;
    // box-shadow: 1px 1px 6px #292929;
        // color: rgb(107, 0, 150);
    
        // a{
        //     // text-decoration: underline ;
        //     // color:rgb(2, 2, 2);
        //     // font-weight: bolder;
        //     // border: solid 1px;
        //     // border-radius: 4px;
        // }
        
     }



