

#menu {
    position: fixed; 
    background-color: #d6d8da;
    a {
        font-size: 18px;
        font-weight: bold;
        color: #c9b6b6; }
    }

    // #menu ul li:hover{
    //     // text-decoration: underline;

    // }



