.carousel-inner {

        max-height: 39rem;
        padding-top: 80px;
        background-position: center;
       
}

.carousel-inner img{
  -webkit-animation: kenburns-bottom 10s ease-out both;
          animation: kenburns-bottom 10s ease-out both;
}

@-webkit-keyframes kenburns-bottom {
0% {
  -webkit-transform: scale(1) translateY(0);
          transform: scale(1) translateY(0);
  -webkit-transform-origin: 50% 84%;
          transform-origin: 50% 84%;
}
100% {
  -webkit-transform: scale(1.25) translateY(15px);
          transform: scale(1.25) translateY(15px);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}
}
@keyframes kenburns-bottom {
0% {
  -webkit-transform: scale(1) translateY(0);
          transform: scale(1) translateY(0);
  -webkit-transform-origin: 50% 84%;
          transform-origin: 50% 84%;
}
100% {
  -webkit-transform: scale(1.25) translateY(15px);
          transform: scale(1.25) translateY(15px);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}
}


#titulo{
                -webkit-animation: tracking-in-contract-bck 6s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
                        animation: tracking-in-contract-bck 6s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
        }
 @-webkit-keyframes tracking-in-contract-bck {
        0% {
          letter-spacing: 1em;
          -webkit-transform: translateZ(400px);
                  transform: translateZ(400px);
          opacity: 0;
        }
        40% {
          opacity: 0.6;
        }
        100% {
          -webkit-transform: translateZ(0);
                  transform: translateZ(0);
          opacity: 1;
        }
      }
      @keyframes tracking-in-contract-bck {
        0% {
          letter-spacing: 1em;
          -webkit-transform: translateZ(400px);
                  transform: translateZ(400px);
          opacity: 0;
        }
        40% {
          opacity: 0.6;
        }
        100% {
          -webkit-transform: translateZ(0);
                  transform: translateZ(0);
          opacity: 1;
        }
      }

#destinos{
  
    -webkit-animation: text-focus-in 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
            animation: text-focus-in 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  
        }


@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}


.sec4{
    display: flex;
    background-repeat: no-repeat;
    padding: 40px 40px;
    align-items: center;
    width: 100%;
    height: 600px;
    background-image: url("../assets/img/himalaya.jpg");
    background-size: cover;
    background-position: center;
    a{
      background-color: map-get($colores , color3 );
      border:  map-get($colores , color3 );
        &:hover{
            background-color: map-get($colores , color2 );
            
        }
    }
    .divHimalaya {
      display: flex;
      // width: 400px;
      height: 300px;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: flex-start;
      align-self: flex-end;
      background-image: url();
      gap: 1.25rem;
      padding: 10px;
      color: $color-fuente;
      font-size: map-get($fuentes , sm);
      background-image:url(../style.scss/) ;
  }
}




.sec-nagano{

  @extend .sec4;
  background-image: url("../assets/img/nagano.jpg");

    .divNagano{

      @extend .divHimalaya;

    }
}








.acerca{
  display: flex;
  width: 100%;
  height: 200px;
}

//== propiedad extend para copiar las propiedades de otras clases:

// .clasex{ bg,pad,color,etc }

// .clase-y{  @extend .clase-x ; }

// esto sirve para ahorrar lineas de codigo


#intro{
  background-image: url("") ;
  
}