// =============valores de las cards==================//


#cards{
    opacity: 80%;
    a{
        background-color: map-get($colores , color3 );
        border:  map-get($colores , color3 );
          &:hover{
              background-color: map-get($colores , color2 );
              
          }
      }
    
    }


#cards:hover{
    // border: solid 1px #eb17a4dc;
    // border-radius: 8px;
      box-shadow:1px 1px 120px  #92929250;
    // background-color: #92929234;
    // opacity: 80%;
    opacity: 100%;

}


#minicards{
    border-radius: 8px;
    // background-color: #d9d7d740;
    
    a{
        background-color: map-get($colores , color3 );
        border:  map-get($colores , color3 );
          &:hover{
              background-color: map-get($colores , color2 );
              
              
          }
      }
}
#minicards:hover{
   border-radius: 8px;
   background-color: #aca9a933;
   

}




#vertodos-btn{
    
        background-color: map-get($colores , color3 );
        border:  map-get($colores , color3 );
          &:hover{
              background-color: map-get($colores , color2 );}
}

#form-btn{
    background-color: map-get($colores , color3 );
        border:  map-get($colores , color3 );
          &:hover{
              background-color: map-get($colores , color2 );}
}